################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SE102 - P5/.vs/Game/v15
/SE102 - W2/.vs/Keyboard-State/v15
/SE102 - P5/x64/Debug
